@import "./effects";

.buttons-list {
  flex-wrap: wrap;
  justify-content: center;
}

.button-item {
  width: 110px;
  margin: 20px;
  height: 110px;
  overflow: hidden;
  font-size: 25px;
  flex-wrap: wrap;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  transition: 0.3s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 100%;

  &.is-off {
    color: #fff;
    border: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}

.is-fullwidth {
  width: 100%;
}

// Alternatives
.alternative .label {
  font-size: 20px;
  font-weight: normal;
}
.alternative:hover > .label {
  color: rgb(247, 108, 19);
}
.alternative input {
  display: none;
}
.alternative .fa {
  color: #00b89c;
  font-size: 28px;
  margin-right: 15px;
}
.alternative .fa::before {
  content: '\f10c'
}
.alternative input:checked + .fa::before {
  content: '\f111'
}


// Question Modal
.modal .description {
  font-size: 20px;
  white-space: pre-wrap;
  margin-bottom: 10px;
}
