body, html {
  width: 100%;
  height: 100%;
}

.is-fullwidth {
  width: 100%;
}

.title.is-1.has-text-centered {
  padding-top: 30px;
}

.btns {
  justify-content: center;
  flex-wrap: wrap;
}

.question {
  width: 110px;
  height: 110px;
  overflow: hidden;
  font-size: 25px;
  border-radius: 19941101px;
  flex-wrap: wrap;
  margin: 20px;
  transition: 0.2s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.question.is-off {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: 0;
}
.question span {
  display: block;
  width: 100%;
}

.modal-card-body .title.is-5 {
  font-weight: bold;
}

.alternative .label {
  font-size: 20px;
  font-weight: normal;
}
.alternative:hover > .label {
  color: rgb(247, 108, 19);
}
.alternative input {
  display: none;
}
.alternative .fa {
  color: #00b89c;
  font-size: 28px;
  margin-right: 15px;
}
.alternative .fa::before {
  content: '\f10c'
}
.alternative input:checked + .fa::before {
  content: '\f111'
}

.modal-question-text {
  background-color: transparent;
  font-size: 24px;
  margin-bottom: 20px;
}
